<section class="block pledge">
  {% unless include.hide_head %}
  <div class="pledge-head">
    <span class="lab">{{ site.data.pledge.head.label }}</span>
    <h2 class="h-lg">{% include em.html t=site.data.pledge.head.heading %}</h2>
    <p class="pledge-intro">{% include em.html t=site.data.pledge.head.intro %}</p>
  </div>
  {% endunless %}

  <div class="pledge-grid">
    {%- for item in site.data.pledge.items %}
    <div class="pledge-item"><h4>{{ item.title }}</h4><p>{% include em.html t=item.body %}</p></div>
    {%- endfor %}
  </div>

  <blockquote class="pledge-closing">
    <p>{% include em.html t=site.data.pledge.closing %}</p>
  </blockquote>
</section>
