<section class="cta">
  <span class="lab"><span data-ed="portfolio_page:wedding_cta.label">{{ site.data.portfolio_page.wedding_cta.label }}</span></span>
  <h2 class="disp">{% include em.html t=site.data.portfolio_page.wedding_cta.heading k="portfolio_page:wedding_cta.heading" %}</h2>
  <p><span data-ed="portfolio_page:wedding_cta.body">{{ site.data.portfolio_page.wedding_cta.body }}</span></p>
  <a class="btn btn-ink" href="{{ site.baseurl }}/consultation-form"><span data-ed="portfolio_page:wedding_cta.button">{{ site.data.portfolio_page.wedding_cta.button }}</span> <span>&rarr;</span></a>
</section>
